{% load static %}


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{% endblock title %}</title>
		<meta name="description" content="Hurst – Furniture Store eCommerce HTML Template is a clean and elegant design – suitable for selling flower, cookery, accessories, fashion, high fashion, accessories, digital, kids, watches, jewelries, shoes, kids, furniture, sports….. It has a fully responsive width adjusts automatically to any screen size or resolution.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
		<!-- Place favicon.ico in the root directory -->

		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

		<!-- all css here -->
		<!-- bootstrap v5 css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- animate css -->
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- jquery-ui.min css -->
		<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
		<!-- meanmenu css -->
		<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- nivo-slider css -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}">
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}">
		<!-- slick css -->
		<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
		<!-- lightbox css -->
		<link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
		<!-- material-design-iconic-font css -->
		<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.css' %}">
		<!-- All common css of theme -->
		<link rel="stylesheet" href="{% static 'css/default.css' %}">
		<!-- style css -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- shortcode css -->
        <link rel="stylesheet" href="{% static 'css/shortcode.css' %}">
		<!-- responsive css -->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		{% block css %}{% endblock css %}
		<!-- modernizr css -->
		<script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
	</head>
	<body>
		<!-- WRAPPER START -->
		<div class="wrapper">

			<!-- Mobile-header-top Start -->
			<div class="mobile-header-top d-block d-md-none">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- header-search-mobile start -->
							<div class="header-search-mobile">
								<div class="table">
									<div class="table-cell">
										<ul>
											<li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li>
											{% if user.is_authenticated %}
											{% else %}
											<li><a href="{% url 'bboard:login' %}"><i class="zmdi zmdi-lock"></i></a></li>
											{% endif %}
											<li><a href="my-account.html"><i class="zmdi zmdi-account"></i></a></li>

										</ul>
									</div>
								</div>
							</div>
							<!-- header-search-mobile start -->
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile-header-top End -->
			<!-- HEADER-AREA START -->
			<header id="sticky-menu" class="header">
				<div class="header-area">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4 offset-md-4 col-7">
								<div class="logo text-md-center">
									<a href="{% url 'bboard:index' %}"><img src=" {% static 'img/logo/logo.png' %} " alt="" /></a>
								</div>
							</div>
							<div class="col-md-4 col-5">
								
								<div class="mini-cart text-end">
									<ul>

									    </li>
										
										<li>
											
																	
											
											<a class="cart-icon" href="{% url 'cart:cart_detail' %}">
												<i class="zmdi zmdi-shopping-cart"></i>
												<span>{{cart.get_count_item}}</span>
											</a>
											<div class="mini-cart-brief text-left">
												<div class="cart-items">
													<p class="mb-0">You have <span>{{cart.get_count_item}} items</span> in your shopping bag</p>
												</div>
												{% for item in cart %}
											    {% with product=item.product %}
												<div class="all-cart-product clearfix">
													<div class="single-cart clearfix">
														<div class="cart-photo">
															<a href="{% url 'bboard:shop_detail' slug=product.slug %}"><img src="{{product.image.url}}" alt="" /></a>
														</div>
														<div class="cart-info">
															<h5><a href="{% url 'bboard:shop_detail' slug=product.slug %}">{{product.name}}</a></h5>
															<p class="mb-0">Price : $ {{item.total_price}}</p>
															<p class="mb-0">Qty : {{ item.quantity }} </p>
															<span class="cart-delete"><a href="{% url 'cart:cart_remove' product.id %}"><i class="zmdi zmdi-close"></i></a></span>
														</div>
													</div>
													
												</div>
												{%endwith%}
											    {% endfor %}
												<div class="cart-totals">
													<h5 class="mb-0">Total <span class="floatright"> $ {{cart.get_total_price}}</span></h5>
												</div>
												<div class="cart-bottom  clearfix">
													<a href="{% url 'cart:cart_detail' %}" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
													<a href="{% url 'bboard:checkout' %}" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
												</div>
											</div>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- MAIN-MENU START -->
				<div class="menu-toggle hamburger hamburger--emphatic d-none d-md-block">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
				<div class="main-menu  d-none d-md-block">
					<nav>
						<ul>
							<li><a href="{% url 'bboard:index' %}">home</a>
								
							</li>
                            <li><a href="{% url 'bboard:shop_view' %}">Shop</a>
                                <div class="sub-menu menu-scroll">
                                    <ul>
                                        <li class="menu-title">Categories</li>
        								{% for i in categories %}
                                        <li><a href="{% url 'bboard:shop_cat' pk=i.pk %}">{{i.name}}</a></li>
										{% endfor %}
                                    </ul>
                                </div>
                            </li>

							<li><a href="{%url 'bboard:checkout'%}">Checkout</a></li>
							<li><a href="{%url 'cart:cart_detail'%}">Cart</a></li>
							
							<li><a href="{%url 'bboard:about'%}">about us</a></li>
							<li><a href="{%url 'bboard:profile'%}">Profile</a></li>
						</ul>
					</nav>
				</div>
				<!-- MAIN-MENU END -->
			</header>
			<!-- HEADER-AREA END -->
			<!-- Mobile-menu start -->
			<div class="mobile-menu-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 d-block d-md-none">
							<div class="mobile-menu">
								<nav id="dropdown">
									<ul>
										<li><a href="{% url 'bboard:index' %}">home</a>
											<ul>
												<li><a href="index.html">Home Version 1</a></li>
												<li><a href="index-2.html">Home Version 2</a></li>
											</ul>
										</li>
										<li><a href="shop.html">products</a></li>
										<li><a href="shop-sidebar.html">accesories</a></li>
										<li><a href="shop-list.html">lookbook</a></li>
										<li><a href="blog.html">blog</a></li>
										<li><a href="#">pages</a>
											<ul>
												<li><a href="shop.html">Shop</a></li>
												<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
												<li><a href="shop-list.html">Shop List</a></li>
												<li><a href="single-product.html">Single Product</a></li>
												<li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
												<li><a href="cart.html">Shopping Cart</a></li>

												<li><a href="checkout.html">Checkout</a></li>
												<li><a href="order.html">Order</a></li>
												<li><a href="{% url 'bboard:login' %}">login / Registration</a></li>
												<li><a href="my-account.html">My Account</a></li>
												<li><a href="404.html">404</a></li>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="single-blog.html">Single Blog</a></li>
												<li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
												<li><a href="about.html">About Us</a></li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
										</li>
										<li><a href="about.html">about us</a></li>
										<li><a href="contact.html">contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
{% block content %}
{% endblock content %}

						<div class="footer-area footer-2">
							<div class="container">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-footer">
											{% for i in abouttttt %}

											<h3 class="footer-title  title-border">Contact Us</h3>
											<ul class="footer-contact">
												<li><span>Address :</span>{{i.addres}}</li>

												<li><span>Email :</span>{{i.email}}</li>
											</ul>
											{% endfor %}
										</div>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6">
										<div class="single-footer">
											<h3 class="footer-title  title-border">accounts</h3>
											<ul class="footer-menu">
												<li><a href="{% url 'bboard:profile' %}"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>

												{% if user.is_authenticated %}
													<li><a href="cart.html"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
												
													
													<li><a href="{% url 'bboard:profile_change' %}"><i class="zmdi zmdi-dot-circle"></i>Change</a></li>
													<li><a href='{% url "bboard:logout" %}'><i class="zmdi zmdi-dot-circle"></i>Logout</a></li>
												{% else %}
												    <li><a href="{% url 'bboard:login' %}"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
												{% endif %}
											</ul>
										</div>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6">
										<div class="single-footer">
											<h3 class="footer-title  title-border">shipping</h3>
											<ul class="footer-menu">
												
												
												{% for i in categories %}
														
															<li><a href="{% url 'bboard:shop_cat' pk=i.pk %}"><i class="zmdi zmdi-dot-circle"></i>{{i.name}}</a></li>
														
														{% endfor %}
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-footer newsletter-item">
											<h3 class="footer-title  title-border">Email Newsletters</h3>
											<div class="footer-subscribe">
												{% if user.is_superuser %}
												<a href="{% url 'bboard:sendler' %}"><button class="button-one submit-btn-4" type="submit" data-text="Subscribe">Send email for all followers</button></a>
												{% else %}
												<form  method='post'>
													{%csrf_token%}
													{{bbbbf.as_p}}
													<button class="button-one submit-btn-4" type="submit" data-text="Subscribe">Subscribe</button>
												</form>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single-blog end -->
					</div>
				</div>
			</div>
			<!-- BLGO-AREA END -->
			<!-- SUBSCRIVE-AREA START -->
			
			<!-- SUBSCRIVE-AREA END -->
			<!-- FOOTER START -->
			<footer>
				
				<!-- Footer-area end -->
				<!-- Copyright-area start -->
				<div class="copyright-area">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="copyright">
									<p class="mb-0">&copy; <a href=" https://themeforest.net/user/codecarnival/portfolio " target="_blank"> Xxx  </a> xxx.porn</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="payment  text-md-end">
									<a href="#"><img src="img/payment/1.png" alt="" /></a>
									<a href="#"><img src="img/payment/2.png" alt="" /></a>
									<a href="#"><img src="img/payment/3.png" alt="" /></a>
									<a href="#"><img src="img/payment/4.png" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Copyright-area start -->
			</footer>
			<!-- FOOTER END -->
			<!-- QUICKVIEW PRODUCT -->
			<div id="quickview-wrapper">
			   <!-- Modal -->
			   
			</div>
			<!-- END QUICKVIEW PRODUCT -->

		</div>
		<!-- WRAPPER END -->

		<!-- all js here -->
		<!-- jquery latest version -->
		<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
		<!-- bootstrap js -->
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<!-- jquery.meanmenu js -->
		<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
		<!-- slick.min js -->
		<script src="{% static 'js/slick.min.js' %}"></script>
		<!-- jquery.treeview js -->
		<script src="{% static 'js/jquery.treeview.js' %}"></script>
		<!-- lightbox.min js -->
		<script src="{% static 'js/lightbox.min.js' %}"></script>
		<!-- jquery-ui js -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- jquery.nivo.slider js -->
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- jquery.nicescroll.min js -->
		<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
		<!-- countdon.min js -->
		<script src="{% static 'js/countdon.min.js' %}"></script>
		<!-- wow js -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<!-- plugins js -->
		<script src="{% static 'js/plugins.js' %}"></script>
		<!-- main js -->
		<script src="{% static 'js/main.js' %}"></script>
		{% block js %}{% endblock js %}
	</body>
</html>
